<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
<%= form_with scope: :user,url: login_user_path , local: true do |form| %>
<div class="container form-group">
<p>
  
  <%= form.label :email%><br>
  <%= form.email_field :email, :class => 'form-control' %>
</p>

<p>
    <%= form.label :password%><br>
    <%= form.password_field :password ,:class => 'form-control'%>
</p>

<p>
  
  <%= form.submit 'Login' , :class => 'btn btn-default' %>

</p>
<%= link_to 'New User', new_user_path, :class => 'btn btn-default'%>
</div>
<% end %>

